@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  --bs-btn-padding-y: 0 !important;
}
.btn:focus {
  outline: none !important;
  outline-offset: none !important;
}
.btn-primary{
    --bs-btn-color: none!important;
    --bs-btn-bg: none!important;
    --bs-btn-border-color: none!important;
    --bs-btn-hover-color: none!important;
    --bs-btn-hover-bg: none!important;
    --bs-btn-hover-border-color: none!important; 
    --bs-btn-focus-shadow-rgb: none!important;
    --bs-btn-active-color: none!important;
    --bs-btn-active-bg: none!important;
    --bs-btn-active-border-color: none!important;
    --bs-btn-active-shadow: none!important;
    --bs-btn-disabled-color: none!important;
    --bs-btn-disabled-bg: none!important;
    --bs-btn-disabled-border-color: none!important;
}